consensus: bitcoin
testnet: true
issuer:
  codexId: 7C15w3W1-L0T~zXw-Aeh5~kV-Zquz729-HXQFKQW-_5lX9O8
  version: 0
  checksum: AYkSrg
name: USDT
method: issue
timestamp: "2024-12-18T10:32:00-02:00"

global:
  - name: ticker
    verified: USDT
  - name: name
    verified: USD Tether
  - name: precision
    verified: centiMilli
  - name: issued
    verified: issued_supply

owned:
  - name: balance
    seal: txid:vout
    data: issued_supply
